.background-grey {
  background-color: #d6d8da;
}

.background-texture {
  background-image: url(https://images.squarespace-cdn.com/content/v1/55bf49b0e4b09d989749e9c3/1448403547178-ERSW5WGA0JNF8XNZON1H/Home.png?format=2500w);
  background-size: cover;
  background-repeat: no-repeat;
}

.background-white {
  background-color: white;
}

.B-U {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.center-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.columns {
  columns: 2;
  text-align: left;
}

.float-right {
  float: right;
}

hr {
  height: 1px;
  background-color: #000000;
}

.image-container {
  height: 225.087px;
  width: 150px;
  border: 5px solid white;
  position: relative;

}

.image-container img {
  width: 100%;
  height: 100%;
}

#menu {
  margin: 15px;
  margin-top: 0px;
  padding: 0px;
  width: 75%;
}

.spacing-b {
  margin-bottom: 0px;
}

.spacing-tb {
  margin-top: 0px;
  margin-bottom: 0px;
}

.resume-margin {
  margin: 5% 20%
}

.transition-image {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.transition-image:hover {
  opacity: 1;
}

.trebuchet {
  font-family: Trebuchet MS;
}